In [2]:
import pandas as pd

In [10]:
# carrega dataset 2022
df_enem_2022 = pd.read_csv('../../data/enem_2022_v2.csv')

In [11]:
# mostrar at√© 40 colunas
pd.set_option("display.max_columns", 40)

In [12]:
# analisando primeiras linhas
df_enem_2022.head(15)

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q008,Q010,Q022,Q024,Q025
0,2022,14,M,2,2,1,1,2,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,A,A,B,3,B,B,B,A,A,A
1,2022,14,M,2,1,1,1,16,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,D,E,E,3,Q,E,E,E,E,B
2,2022,5,F,1,2,1,1,2,1,0,NaN,NaN,NaN,NaN,1,1,1,1,421.1,546.0,498.8,565.3,1.0,760.0,E,F,A,D,2,B,B,A,C,A,B
3,2022,6,M,1,3,1,1,2,1,0,NaN,NaN,NaN,NaN,1,1,1,1,490.7,388.6,357.8,416.0,1.0,320.0,C,A,A,B,3,A,C,A,C,B,B
4,2022,4,M,0,3,1,1,1,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,B,A,B,2,B,B,A,B,A,A
5,2022,5,F,1,3,1,1,2,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,E,C,B,B,4,C,C,A,D,A,B
6,2022,4,M,1,2,1,1,2,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B,B,B,B,3,B,B,A,C,A,B
7,2022,6,F,1,2,1,1,0,1,0,NaN,NaN,NaN,NaN,1,1,1,1,398.1,427.3,400.2,404.9,1.0,440.0,E,E,B,B,5,B,B,B,E,A,B
8,2022,8,F,1,3,1,1,0,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,D,A,A,5,B,B,A,B,A,B
9,2022,4,F,1,3,1,1,1,1,0,NaN,NaN,NaN,NaN,1,1,1,1,467.5,461.0,466.7,435.3,1.0,360.0,E,E,B,B,2,B,B,A,B,A,B
10,2022,4,F,1,3,1,1,2,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,E,B,A,A,5,A,B,A,B,A,B
11,2022,2,F,1,1,1,2,0,3,0,NaN,NaN,NaN,NaN,1,1,1,1,458.7,539.8,488.2,456.8,1.0,940.0,E,E,B,A,4,B,B,A,C,A,B
12,2022,4,M,1,2,1,1,1,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,B,F,A,2,B,B,A,B,B,B
13,2022,6,F,1,3,1,1,0,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,C,E,C,D,4,C,B,A,D,A,B
14,2022,7,M,1,2,2,1,3,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,E,E,B,B,3,C,B,A,C,B,B

In [13]:
# analisando √∫ltimas linhas
df_enem_2022.tail(15)

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q008,Q010,Q022,Q024,Q025
3476090,2022,2,F,0,3,1,2,0,2,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B,E,C,B,5,D,B,B,B,A,A
3476091,2022,3,M,0,2,1,1,1,1,0,NaN,NaN,NaN,NaN,1,1,1,1,594.4,477.4,414.4,449.8,1.0,400.0,E,E,F,B,5,B,C,A,D,B,B
3476092,2022,15,F,3,1,1,1,16,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B,A,F,A,2,B,B,B,B,A,B
3476093,2022,3,F,1,1,1,2,0,2,0,Nil√≥polis,RJ,2.0,1.0,1,1,1,1,404.5,539.8,526.2,544.6,1.0,560.0,E,F,C,D,4,F,B,A,E,B,B
3476094,2022,14,M,1,1,1,1,16,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,G,E,D,D,1,C,C,B,B,B,B
3476095,2022,12,M,2,1,1,1,7,1,0,NaN,NaN,NaN,NaN,1,1,1,1,444.5,504.4,489.5,423.6,1.0,580.0,E,E,C,C,4,C,B,B,C,A,B
3476096,2022,2,F,1,3,1,2,0,2,0,Imba√∫,PR,2.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B,B,C,B,3,C,B,B,D,A,B
3476097,2022,11,F,1,2,1,1,11,1,0,NaN,NaN,NaN,NaN,1,1,1,1,536.1,633.2,584.0,596.3,1.0,740.0,H,C,F,C,1,D,B,A,B,B,B
3476098,2022,2,M,0,3,1,2,0,2,0,Ipatinga,MG,2.0,1.0,1,1,1,1,487.6,495.6,545.5,597.4,1.0,580.0,H,E,C,B,2,B,B,A,C,A,B
3476099,2022,11,F,1,1,1,1,11,1,0,NaN,NaN,NaN,NaN,1,1,1,1,512.5,524.8,546.8,432.0,1.0,520.0,C,B,B,B,3,B,B,B,C,A,A
3476100,2022,3,M,1,1,1,2,0,2,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,E,B,B,4,F,D,C,E,A,B
3476101,2022,14,F,2,1,1,2,0,2,0,Caruaru,PE,2.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,A,A,A,3,B,B,A,C,B,B
3476102,2022,2,M,1,1,1,2,0,2,0,Lages,SC,2.0,1.0,1,1,1,1,527.9,627.0,583.3,637.1,1.0,660.0,E,C,C,B,4,G,C,B,E,B,B
3476103,2022,3,M,1,3,1,2,0,3,0,Gua√≠ra,SP,4.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,H,F,F,B,5,E,C,B,E,B,B
3476104,2022,2,F,2,3,1,2,0,2,0,Goi√¢nia,GO,2.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,A,B,B,2,B,B,A,C,C,B

In [14]:
# Aplicando describe() somente nas colunas que cont√©m notas notas
colunas = ["NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "NU_NOTA_REDACAO"]
df_enem_2022[colunas].describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_LC    NU_NOTA_MT  NU_NOTA_REDACAO
count  2.355395e+06  2.493442e+06  2.493442e+06  2.355395e+06     2.493442e+06
mean   4.959305e+02  5.269531e+02  5.174389e+02  5.425032e+02     6.184797e+02
std    7.200975e+01  8.148446e+01  7.755491e+01  1.160225e+02     2.122125e+02
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00
25%    4.405000e+02  4.770000e+02  4.684000e+02  4.490000e+02     5.200000e+02
50%    4.856000e+02  5.299000e+02  5.255000e+02  5.308000e+02     6.200000e+02
75%    5.433000e+02  5.819000e+02  5.732000e+02  6.224000e+02     7.600000e+02
max    8.753000e+02  8.392000e+02  8.010000e+02  9.857000e+02     1.000000e+03

In [15]:
df_enem_2022.shape

(3476105, 35)

In [16]:
df_enem_2022.columns

Index(['NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'IN_TREINEIRO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q008', 'Q010', 'Q022', 'Q024', 'Q025'],
      dtype='object')

In [17]:
df_enem_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3476105 entries, 0 to 3476104
Data columns (total 35 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         int64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ANO_CONCLUIU         int64
 8   TP_ESCOLA               int64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  SG_UF_ESC               object
 12  TP_DEPENDENCIA_ADM_ESC  float64
 13  TP_LOCALIZACAO_ESC      float64
 14  TP_PRESENCA_CN          int64
 15  TP_PRESENCA_CH          int64
 16  TP_PRESENCA_LC          int64
 17  TP_PRESENCA_MT          int64
 18  NU_NOTA_CN              float64
 19  NU_NOTA_CH              float64
 20  NU_NOTA_LC              float64
 21  NU_NOTA_MT              float64
 22  TP_STATUS_REDACAO       float64
 23  NU_NOTA_REDACAO         float64
 24  Q001                    object
 25  Q002                    object
 26  Q003                    object
 27  Q004                    object
 28  Q005                    int64
 29  Q006                    object
 30  Q008                    object
 31  Q010                    object
 32  Q022                    object
 33  Q024                    object
 34  Q025                    object
dtypes: float64(8), int64(14), object(13)
memory usage: 928.2+ MB

In [18]:
# Calcular a m√©dia da soma das notas das colunas especificadas
df_enem_2022['soma_notas'] = df_enem_2022[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].sum(axis=1)


media = df_enem_2022['soma_notas'].mean()
maximo = df_enem_2022['soma_notas'].max()
minimo = df_enem_2022['soma_notas'].min()
mediana = df_enem_2022['soma_notas'].median()

print(f'O m√°ximo da soma das notas √© {round(maximo, 2)}')
print(f'A m√©dia da soma das notas √© {round(media, 2)}')
print(f'A mediana da soma das notas √© {round(mediana, 2)}')
print(f'O m√≠nimo da soma das notas √© {round(minimo, 2)}')

O m√°ximo da soma das notas √© 4279.9
A m√©dia da soma das notas √© 1896.43
A mediana da soma das notas √© 2433.5
O m√≠nimo da soma das notas √© 0.0

In [19]:
colunas_presenca = ['TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT']

# Filtra as linhas onde todas as colunas de presen√ßa possuem valor 0
linhas_presenca_0 = df_enem_2022[(df_enem_2022[colunas_presenca] == 0).all(axis=1)]

# Contendo contagem do que acreditamos ser dos alunos que faltaram a prova.
print(len(linhas_presenca_0))

967906