In [19]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# An√°lise - ENEM 2022

## **Analisando o dataset**

In [20]:
df = pd.read_csv("enem_2022_v2.csv", low_memory=False, encoding="ISO-8859-1")

In [21]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3476105 entries, 0 to 3476104
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  IN_TREINEIRO            int64
 11  NO_MUNICIPIO_ESC        object
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  TP_PRESENCA_CN          int64
 16  TP_PRESENCA_CH          int64
 17  TP_PRESENCA_LC          int64
 18  TP_PRESENCA_MT          int64
 19  NU_NOTA_CN              float64
 20  NU_NOTA_CH              float64
 21  NU_NOTA_LC              float64
 22  NU_NOTA_MT              float64
 23  TP_STATUS_REDACAO       float64
 24  NU_NOTA_REDACAO         float64
 25  Q001                    object
 26  Q002                    object
 27  Q003                    object
 28  Q004                    object
 29  Q005                    int64
 30  Q006                    object
 31  Q008                    object
 32  Q010                    object
 33  Q022                    object
 34  Q024                    object
 35  Q025                    object
 36  MEDIA_GERAL             float64
dtypes: float64(9), int64(15), object(13)
memory usage: 981.3+ MB

In [22]:
df.describe()

,Unnamed: 0,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q005,MEDIA_GERAL
count,3.476105e+06,3476105.0,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,951944.000000,951944.000000,3.476105e+06,3.476105e+06,3.476105e+06,3.476105e+06,2.355395e+06,2.493442e+06,2.493442e+06,2.355395e+06,2.493442e+06,2.493442e+06,3.476105e+06,2.504014e+06
mean,1.738052e+06,2022.0,4.863503e+00,1.042771e+00,2.035284e+00,1.028641e+00,1.684877e+00,2.178502e+00,1.440080e+00,1.475019e-01,2.435363,1.035228,6.785034e-01,7.200030e-01,7.200030e-01,6.785034e-01,4.959305e+02,5.269531e+02,5.174389e+02,5.425032e+02,1.188712e+00,6.184797e+02,3.745322e+00,5.389622e+02
std,1.003465e+06,0.0,3.690560e+00,3.873107e-01,1.019759e+00,2.102919e-01,7.297286e-01,4.064238e+00,6.070447e-01,3.546056e-01,0.909683,0.184355,4.680213e-01,4.519873e-01,4.519873e-01,4.680213e-01,7.200975e+01,8.148446e+01,7.755491e+01,1.160225e+02,8.793775e-01,2.122125e+02,1.376848e+00,9.199344e+01
min,0.000000e+00,2022.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,8.690260e+05,2022.0,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.405000e+02,4.770000e+02,4.684000e+02,4.490000e+02,1.000000e+00,5.200000e+02,3.000000e+00,4.807400e+02
50%,1.738052e+06,2022.0,3.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.856000e+02,5.299000e+02,5.255000e+02,5.308000e+02,1.000000e+00,6.200000e+02,4.000000e+00,5.376800e+02
75%,2.607078e+06,2022.0,6.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,2.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.433000e+02,5.819000e+02,5.732000e+02,6.224000e+02,1.000000e+00,7.600000e+02,4.000000e+00,5.995200e+02
max,3.476104e+06,2022.0,2.000000e+01,4.000000e+00,5.000000e+00,4.000000e+00,4.000000e+00,1.600000e+01,3.000000e+00,1.000000e+00,4.000000,2.000000,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,8.753000e+02,8.392000e+02,8.010000e+02,9.857000e+02,9.000000e+00,1.000000e+03,2.000000e+01,8.559800e+02

In [23]:
df.tail()

,Unnamed: 0,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q008,Q010,Q022,Q024,Q025,MEDIA_GERAL
3476100,3476100,2022,3,M,1,1,1,2,0,2,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,E,B,B,4,F,D,C,E,A,B,NaN
3476101,3476101,2022,14,F,2,1,1,2,0,2,0,Caruaru,PE,2.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,A,A,A,3,B,B,A,C,B,B,NaN
3476102,3476102,2022,2,M,1,1,1,2,0,2,0,Lages,SC,2.0,1.0,1,1,1,1,527.9,627.0,583.3,637.1,1.0,660.0,E,C,C,B,4,G,C,B,E,B,B,607.06
3476103,3476103,2022,3,M,1,3,1,2,0,3,0,Gua√É¬É√Ç¬≠ra,SP,4.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,H,F,F,B,5,E,C,B,E,B,B,NaN
3476104,3476104,2022,2,F,2,3,1,2,0,2,0,Goi√É¬É√Ç¬¢nia,GO,2.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,A,A,B,B,2,B,B,A,C,C,B,NaN

In [24]:
df.columns

Index(['Unnamed: 0', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'IN_TREINEIRO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q008', 'Q010', 'Q022', 'Q024', 'Q025', 'MEDIA_GERAL'],
      dtype='object')

## **An√°lise da coluna Q006**

*Dicion√°rio - Base de dados do governo:*

Q006 - Qual √© a renda mensal de sua fam√≠lia? (Some a sua renda com a dos seus familiares)

A - Nenhuma Renda

B - At√© R$ 1.212,00

C - De R$ 1.212,01 at√© R$ 1.818,00.

D - De R$ 1.818,01 at√© R$ 2.424,00.

E - De R$ 2.424,01 at√© R$ 3.030,00.

F - De R$ 3.030,01 at√© R$ 3.636,00.

G - De R$ 3.636,01 at√© R$ 4.848,00.

H - De R$ 4.848,01 at√© R$ 6.060,00.

I - De R$ 6.060,01 at√© R$ 7.272,00.

J - De R$ 7.272,01 at√© R$ 8.484,00

K - De R$ 8.484,01 at√© R$ 9.696,00.

L - De R$ 9.696,01 at√© R$ 10.908,00.

M - De R$ 10.908,01 at√© R$ 12.120,00.

N - De R$ 12.120,01 at√© R$ 14.544,00.

O - De R$ 14.544,01 at√© R$ 18.180,00.

P - De R$ 18.180,01 at√© R$ 24.240,00.

Q - Acima de R$ 24.240,00.

### **Altera√ß√£o dos dados**

Altera√ß√£o dos dados para redu√ß√£o do dicion√°rio.

De acordo com defini√ß√£o de classes do IBGE:

Classe A - Acima de 20 sal√°rios m√≠nimos - 24.240,01 ou mais 
-- corresponde a: (Q)

Classe B - De 10 a 20 sal√°rios m√≠nimos - 12.120,01 a 22.240,00
-- corresponde a: (N, O, P)

Classe C - De 4 a 10 sal√°rios m√≠nimos - 4.848,01 a 12.120,00 
-- corresponde a: (G, H, I, J, K, L, M)

Classe D - De 2 a 4 sal√°rios m√≠nimos - 2.424,01 a 4.848,00 
-- corresponde a: (E, F)

Classe E - At√© 2 sal√°rios m√≠nimos - At√© 2.424,00 
-- corresponde a: (A, B, C, D)

In [29]:
df['CLASSES'] = df['Q006'].apply(lambda x: 'A' if x == 'Q' 
                                 else 'B' if x == 'N' or x == 'O' or x == 'P' 
                                 else 'C' if x == 'G' or x == 'H' or x == 'I' or x == 'J' or x == 'K' or x == 'L' or x == 'M'
                                 else 'D' if x == 'E' or x == 'F'
                                 else 'E')

Verificar se a correspond√™ncia ocorreu de maneira correta

In [30]:
df.loc[df['CLASSES'] == 'A']
#df.loc[df['CLASSES'] == 'B']
#df.loc[df['CLASSES'] == 'C']
#df.loc[df['CLASSES'] == 'D']
#df.loc[df['CLASSES'] == 'E']

,Unnamed: 0,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q008,Q010,Q022,Q024,Q025,MEDIA_GERAL,Classes,CLASSES
1,1,2022,14,M,2,1,1,1,16,1,0,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,D,D,E,E,3,Q,E,E,E,E,B,NaN,A,A
568,568,2022,3,M,1,1,1,2,0,3,0,Rio de Janeiro,RJ,4.0,1.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,G,G,D,D,8,Q,E,D,E,A,B,NaN,A,A
578,578,2022,2,M,1,1,1,2,0,3,0,S√É¬É√Ç¬£o Bento do Sul,SC,4.0,1.0,1,1,1,1,497.0,494.5,476.0,548.6,1.0,640.0,G,G,E,E,4,Q,E,C,E,E,B,531.22,A,A
736,736,2022,1,F,1,3,1,3,0,1,1,NaN,NaN,NaN,NaN,1,1,1,1,459.5,551.4,625.5,587.8,1.0,860.0,G,G,D,E,4,Q,E,B,E,E,B,616.84,A,A
934,934,2022,1,M,1,1,1,3,0,1,1,NaN,NaN,NaN,NaN,1,1,1,1,547.3,617.0,600.3,666.4,1.0,820.0,G,G,E,E,4,Q,E,C,E,E,B,650.20,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475777,3475777,2022,3,F,1,1,1,1,1,1,0,NaN,NaN,NaN,NaN,1,1,1,1,462.1,368.1,462.3,384.8,1.0,660.0,A,C,E,B,8,Q,E,E,E,E,B,467.46,A,A
3475785,3475785,2022,9,M,1,1,1,1,6,1,0,NaN,NaN,NaN,NaN,1,1,1,1,602.0,715.6,769.2,832.8,1.0,960.0,F,G,E,E,4,Q,D,C,E,D,B,775.92,A,A
3475908,3475908,2022,3,F,1,1,1,1,1,1,0,NaN,NaN,NaN,NaN,1,1,1,1,499.9,541.6,559.5,618.4,1.0,660.0,E,F,E,D,5,Q,D,C,E,D,B,575.88,A,A
3475974,3475974,2022,1,F,1,1,1,3,0,1,1,NaN,NaN,NaN,NaN,1,1,1,1,587.9,570.5,570.6,644.4,1.0,760.0,G,G,E,E,5,Q,E,C,E,E,B,626.68,A,A
3476003,3476003,2022,2,M,1,3,1,2,0,3,0,NaN,NaN,NaN,NaN,1,1,1,1,457.5,409.9,389.3,605.9,1.0,540.0,D,E,E,E,5,Q,D,D,D,B,B,480.52,A,A

### Estat√≠sticas dos dados

In [35]:
df[["MEDIA_GERAL", "CLASSES"]].groupby("CLASSES").describe()

        MEDIA_GERAL                                                      \
              count        mean        std  min     25%     50%     75%
CLASSES
A           41825.0  635.314355  82.662278  0.0  586.86  642.64  692.58
B           94389.0  625.273200  82.221005  0.0  575.40  631.00  681.78
C          536801.0  587.862714  84.970835  0.0  534.38  590.50  645.70
D          328327.0  553.810486  83.482194  0.0  502.86  554.78  608.30
E         1502672.0  510.145703  83.224113  0.0  461.06  511.04  563.04


            max
CLASSES
A        855.98
B        855.82
C        843.50
D        836.10
E        833.52